#header {
    background:#49599a;
    color: black;
    text-align: left;
    padding: 10px 0;
  }
  #content {
    height: 100%;
    background: #1E1E1E;
    padding-top: 20px;
    text-align: center;
  }

  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:white ;
    background-size: cover;
}

#detailbox{
    height:500px;
    width:80%;
    overflow:auto;
    margin-left: 10px;
    background-color:white;
    color:black;
    scrollbar-base-color:gold;
    font-family:sans-serif;
    padding:10px;
    border: 15px solid #49599a;
    border-width: 3px;
    left:0;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

 
  #detailstext{
      margin-left: 10px;
  }

  a:link{
    color:black
  }
  a:visited{
    color:black
  }
  h3{
    text-align: right;
    margin-right:3%;
  }

  #allInfo{
    padding-bottom:3%;
    background-color: #e8eaf6;
    width: 100%;
    
  }
  .btn{
    
    background-color: #49599a;
    margin-top: 1%;
    margin-left: 1%;
    width:100px;
    height:30px;
    margin-bottom: 1%;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
  }