#header {
    background:#49599a;
    color: black;
    text-align: left;
    padding: 10px 0;
  }
  #content {
    height: 100%;
    background: #1E1E1E;
    padding-top: 20px;
    text-align: center;
  }

  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:white ;
    background-size: cover;
}

#detailbox{

    height:500px;
    width:60%;
    overflow:auto;
    margin-left: 10px;
    background-color:white;
    color:black;
    scrollbar-base-color:gold;
    font-family:sans-serif;
    padding:10px;
    border: 15px solid #49599a;
    border-width: 3px;
    left:0;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  
  }

 
  #detailstext{
      margin-left: 40px;
      font-weight: bold;
  }

  a:link{
    color:black
  }
  a:visited{
    color:black
  }
  h3{
    text-align: right;
    margin-right:3%;
  }

  #allInfo{
    padding-bottom:3%;
    background-color: #e8eaf6;
    width: 100%;
    
  }
  .buttons{
    text-align: center;
  }

  .acceptBtn{
    background-color: #49599a;
    width:250px;
    height:30px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 20px;
    margin:1% auto;
    display:inline-flex;
  }
  .rejectBtn{
    background-color: #49599a;
    width:250px;
    height:30px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 20px;
    margin:1% auto;
    display:inline-flex;
  }
  img{
    width: 300px;
    height: 300px;
    object-fit:contain ;
    

  }
#sessionInfo{
  padding-bottom:3%;
  margin-bottom: 1%;
  background-color: #e8eaf6;
  width:100%
}

#map {
  height: 400px;
  width: 30%;

}
  